@CHARSET "UTF-8";

/*--------header--------*/
/*--------navbar--------*/
/*
.header .navbar {
	font-size: 11px;
	color: #6C9CBE;
	line-height: 25px;
	height: 25px;
	display: block;
	white-space: nowrap;
	position: relative;
	margin-left: 10px;
	z-index: 9999;
}
.header .navbar a {
	color: #6C9CBE;
	text-decoration: none;
}
.header .navbar li {
	float: left;
	font-family: arial;
	position: relative;
	margin: 0 10px;
}
.header .navbar .right {
	float: right;
	/*font-family: arial;*/
	/*
	position: relative;
	margin: 0 10px;
}
/*--------End navbar--------*/
/*
.header h1 {
	margin: 0;
	padding: 0;
	height: 42px;
	background: #87B9DD;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.header h1 a{
	text-decoration: none;
	display: block;
	margin: 12px 10px 0 10px;
}
.menubar {
	height: 42px;
	padding: 1px 0;
	margin: -44px 0 10px 200px;
}
.menubar ul {
	float: right;
	white-space: nowrap;
	position: relative;
	margin: 0 8px 0 0;
}
.menubar ul li {
	float: left;
	height: 42px;
	text-align: center;
}
.menubar ul li a {
	color: white;
	font-size: 15px;
	text-decoration: none;
	display: block;
	margin: 12px 10px 0 10px;
}
/*--------End header--------*/


/*--------footer--------*/
.footer {
	clear: both;
	font-size: small;
	text-align: center;
    /*background: url(images/footer.jpg) no-repeat top;*/
    padding: 25px 0;
}
/*--------End footer--------*/


/*--------Default--------*/
body {
	background-color: #fff;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
	background: #D2EBFF;
	margin: 0 40px;
}

h1 {
	text-align: center;
	font-size: 46px;
	background-color: transparent;
}

h2 {
	font-size: 16px;
	background-color: transparent;
}

a {
	color: #059;
	text-decoration: none;
}

.header {
	width: 800px;
	margin: 20px auto;
}
.content {
	width: 800px;
	height: 400px;
	margin: 20px auto;
}

.formContainer {
	width: 425px;
	margin: 120px auto;
}
.formRow {
	padding: 7px 0;
}
form label{
    display: inline-block;
    margin-left: -72px;
    padding-right: 8px;
    text-align: right;
    width: 180px;
}
form input {
    padding: 5px 8px;
    border: none;
    outline: none;
    resize: none;
    width: 200px;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
    -moz-box-shadow: 1px 1px 1px #ccc inset, 0 0 1px #ccc inset;
    -webkit-box-shadow: 1px 1px 1px #ccc inset, 0 0 1px #ccc inset;
    box-shadow: 1px 1px 1px #ccc inset, 0 0 1px #ccc inset;
}
formContainer input[type="submit"], formContainer input[type="button"] {
	width: 120px;
	margin-left: 120px;
	cursor: pointer;
	background: gray;
	color: white;
}

.err_msg{
	color: red;
}
/*--------End Default--------*/